.form-block-wrapper { position: relative; }
.sticky-title-icon-container { display: flex; justify-content: center; }
.sticky-title-icon-container .t-image { width: 70px; height: 70px; padding: 10px; overflow: hidden; border-radius: 10px; background: transparent; cursor: pointer; }
.sticky-title-icon-container .t-image :deep(img) { width: 100%; height: 100%; border-radius: 12px; }
.sticky-title-icon-container .sub-item-customer-icon :deep(img) { opacity: .8; filter: brightness(var(--img-brightness)); }
:deep(.t-form__label) { width: auto; }
